<div class="bd">
	<div class="form">
		<h3>活动规则</h3>
		<a href="javascript:;" class="action-back">返回</a>
		<div class="rule-detail">
			<p><b>活动时间：</b>3月11日－3月25日（共15天）</p>
			<p><b>活动奖品：</b></p>
			<ul>
				<li>1、｢	甜睡系列纸尿裤试用装5,000份</li>
				<li>2、｢	大王天猫官方旗舰店&费雪天猫官方旗舰店组合优惠券，价值60元，共20,000份。</li>
				<li>3、｢	活动结束后将在点亮甜睡神器的用户中，再送出50份甜睡神器大礼——费雪小海马。于3月31日，在大王官方网站公布中奖名单。</li>
			</ul>
			<p><b>活动规则：</b></p>
			<ul>
				<li>1、｢	用户登录官网后，挑选一款甜睡神器，召唤5位好友成功点亮甜睡神器即可申领试用装申领或领取优惠券。试用装、优惠券随机发放，每位用户仅限申领一次。</li>
				<li>2、｢	大王10元优惠券仅限购买甜睡系列产品可以抵用，可以在大王天猫官方旗舰店（https://dawang.tmall.com）使用；有效使用期限至4月30日。<br>费雪50元优惠券，购买满299元产品可使用。可以在费雪天猫官方旗舰店（https://fisher-price.tmall.com）使用。有效使用期限至4月11日。领取有效期：3月11日至3月21日，使用有效去为领取后的一个月内。</li>
				<li>3、｢	试用装申领信息一旦填写，不可再修改。我方将根据用户填写信息，在活动结束后的一个月内，统一快递寄送。</li>
				<li>4、｢	如发现非正常手段参与活动的，我方有权取消其参加资格。</li>
				<li>5、｢	本活动最终解释权归大王制纸有限公司所有。</li>
			</ul>
			<a href="javascript:;" class="action-back">返回</a>
		</div>
	</div>
</div>