<div class="count">
	{{#allStarCollected}}
	<span>甜睡神器已被点亮</span>
	{{/allStarCollected}}
	{{^allStarCollected}}
	<span>已被点亮{{starCount}}次</span>
	{{/allStarCollected}}
</div>
<div class="animal animal-{{id}}-{{starCount}}"></div>

<div class="link">
	{{#allStarCollected}}
		{{#hasGotPrize}}
			{{#prizeIsTrialPack}}
				{{#applied}}
				<a href="javascript:;" class="button action-detail">查看甜睡神器详情</a>
				<a href="javascript:;" class="button action-back">返回首页</a>
				{{/applied}}
				{{^applied}}
				<!-- 填写试用装申请 -->
				<a class="button action-apply" href="javascript:;">马上领取甜睡试用装</a>
				{{/applied}}
			{{/prizeIsTrialPack}}
			{{^prizeIsTrialPack}}
				<a href="javascript:;" class="button action-detail">查看甜睡神器详情</a>
				<a href="javascript:;" class="button action-back">返回首页</a>
			{{/prizeIsTrialPack}}
		{{/hasGotPrize}}
		{{^hasGotPrize}}
		<!-- 抽奖 -->
		<a href="javascript:;" class="button action-get-prize">甜睡神器点亮完成</a>
		{{/hasGotPrize}}
	{{/allStarCollected}}
	{{^allStarCollected}}
	<a href="javascript:;" class="button action-generate-qr">召唤好友</a>
	<a href="javascript:;" class="button action-back">返回首页</a>
	{{/allStarCollected}}
</div>

{{#hasGotPrize}}
<div class="star-detail-popup">
	<div class="bg-cir"></div>
	{{#prizeIsTrialPack}}
	<div class="title">您为宝宝成功申领<br>甜睡试用装</div>
	<div class="product">
		<div class="status">已申领</div>
		<div class="type">
			<span>甜睡系列试用装</span>
			<div>
				<span class="border">XL号</span>
				<span>x1</span>
			</div>
		</div>
	</div>
	<div class="info">
		<ul>
			<li>
				<span class="border">收件人</span>
				<span>{{trialPack.recipient}}</span>
			</li>
			<li>
				<span class="border">电话</span>
				<span>{{trialPack.mobile}}</span>
			</li>
			<li>
				<span class="border">收货地址</span>
				<span class="address">{{trialPack.address}}</span>
			</li>
		</ul>
	</div>
	{{/prizeIsTrialPack}}
	{{^prizeIsTrialPack}}
	<div class="title">您为宝宝成功申领<br>天猫优惠券</div>
	<div class="coupons">
		<div class="tickets">
			<a href="javascript:;" class="ticket-1">
				<p>使用有效期至4月30日</p>
				<span>领取</span>
			</a>
			<a href="javascript:;" class="ticket-2">
				<p>领取有效期至到3月21日，使用有效期至领取该优惠券后一个月内</p>
				<span>领取</span>
			</a>
		</div>
	</div>
	{{/prizeIsTrialPack}}
	<a href="javascript:;" class="back">返回</a>
</div>
{{/hasGotPrize}}

<div id="firefly"></div>