$rate : 1280/1920;

@media (max-width: 1440px) {
  #loader{
    @include scale($rate)
    transform-origin: center center;
  }
  .site-nav{
  	.logo{
  		@include scale($rate)
  		transform-origin: left top;
  	}
  	.link{
  		@include scale($rate)
  		transform-origin: right top;	
  	}
  	.left-nav{
  		@include scale($rate)
  		transform-origin: left center;
  	}
  }
  .scene1 .txt,
  .scene2 .txt,
  .scene3 .txt,
  .scene4,
  .scene5,
  .tvc{
  	@include scale($rate)
  }
  .popup-panel{
  	@include scale($rate)	
  }
}