.popup-panel{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 708px;
	padding-top: 31px;
	margin-left: -1/2 * 708px;
	.box-outside{
		padding: 12px;
		background: rgba(#6d4500, .3);
	}
	.bd{
		padding: 14px;
		background: rgba(#6d4500, .5);	
		h3{
			font-size: 36px;
			color: $color;
			text-align: center;
			padding: 20px 0 25px;
		}
		.form{
			width: 655px;
			background: url(../images/panel-bg.jpg) center bottom no-repeat;
			background-size: cover;
		}
	}
	&.register-form{
		margin-top: -1/2 * 666px - 31px;
		h3{
			padding: 20px 0 15px;
		}
		.form{
			height: 666px;
			margin: 0 auto;
		}
	}
	&.login-form{
		margin-top: -1/2 * 438px - 31px;
		.form{
			height: 438px;
			margin: 0 auto;
		}	
	}
	&.create-form{
		margin-top: -1/2 * 642px - 31px;
		.form{
			height: 642px;
			margin: 0 auto;
		}	
	}
	&.star-all-collected{
		margin-top: -1/2 * 576px - 31px;
		.form{
			height: 576px;
			margin: 0 auto;
			h3{
				padding: 60px 0 45px;
			}
			p{
				font-size: 24px;
				color: $color;
				line-height: 38px;
				text-align: center;
				margin-bottom: 30px;
				span{
					color: #a43a00;
					text-decoration: underline;
				}
			}
			.button{
				margin: 0 auto;
				@include scale(.8);
				transform-origin: center top;
			}
			&.form-1{
				h3{
					padding: 20px 0 15px;
				}
				p{
					font-size: 22px;
					line-height: 30px;
					margin-bottom: 20px;
				}
			}
		}
	}
	&.apply-form{
		margin-left: -1/2 * 860px;
		margin-top: -1/2 * 686px - 31px;
		.form{
			width: 860px;
			height: 686px;
			margin: 0 auto;
			h3{
				font-size: 26px;
			}
			.button{
				margin: 0 auto;
				@include scale(.8);
				transform-origin: center top;
			}
		}	
	}
	&.apply-result-form{
		width: 786px;
		margin-left: -1/2 * 786px;
		margin-top: -1/2 * 480px - 31px;
		.form{
			width: 100%;
			height: 480px;
			margin: 0 auto;
			h3{
				font-size: 36px;
				padding: 60px 0 0 0;
			}
			p{
				text-align: center;
				font-size: 24px;
				color: $color;
				margin: 20px 0 15px;
				line-height: 38px;
			}
			.event{
				margin-top: 20px;
				padding-bottom: 20px;
				a{
					position: relative;
					top: 10px;
					display: inline-block;
					width: 155px;
					height: 43px;
					background: url(../images/button-event.png) no-repeat;
				}
			}
			.button{
				margin: 0 auto;
				@include scale(.8);
				transform-origin: center top;
			}
		}	
	}
	&.star-form{
		position: absolute;
		margin-top: -1/2 * 580px - 26px;
		height: 580px;
	}
	&.share-tips{
		width: 807px + 40px;
		margin-top: -1/2*694px - 1/2*40px;
		margin-left: -1/2*807px - 1/2*40px;

		.bd{
			background: rgba(8, 71, 126, .6);
			padding: 20px;
			.form{
				width: 100%;
				height: 694px;
				border: 2px solid #08477e;
				background: url(../images/panel-bg-black.jpg) center top no-repeat;
				background-size: cover;
			}
		}
	}
	&.share-tips-qr{
		width: 807px + 40px;
		margin-top: -1/2*624px - 1/2*40px;
		margin-left: -1/2*807px - 1/2*40px;

		.bd{
			background: rgba(8, 71, 126, .6);
			padding: 20px;
			.form{
				width: 100%;
				height: 624px;
				border: 2px solid #08477e;
				background: url(../images/panel-bg-black.jpg) center top no-repeat;
			}
		}
	}
}