.rule{
	.bd{
		h3{
			color: #84d2ff;
			margin-top: 12px;
		}	
		.rule-detail{
			position: absolute;
			top: 200px;
			left: 70px;
			width: 720px;
			height: 440px;
			overflow-y: scroll;
			p, li{
				font-size: 18px;
				color: #84d2ff;
				line-height: 36px;
			}
			ul, p{
				margin: 15px 0;
			}
			ul{
				li{

				}
			}
			.action-back{
				position: static;
				text-decoration: underline;
			}
		}
		.action-back{
			position: absolute;
			text-indent: -9999px;
			right: -45px;
			top: -15px;
			font-size: 18px;
			color: #84d2ff;
			width: 116px;
			height: 121px;
			background: url(../images/button-close.png) no-repeat;
		}
	}
}