.shop{
	.link{
		display: block;
		position: absolute;
		width: 220px;
		height: 50px;
		right: 150px;
	}
	.link-1{
		bottom: 180px;
	}
	.link-2{
		bottom: 74px;
	}
	.action-back{
		position: absolute;
		text-indent: -9999px;
		right: -45px;
		top: -15px;
		font-size: 18px;
		color: #84d2ff;
		width: 116px;
		height: 121px;
		background: url(../images/button-close.png) no-repeat;
	}
}