<div class="box-outside">
<div class="bd">
	<div class="form">
		<h3>请选择领取甜睡系列试用装尺码</h3>
		<div class="options">
			<a href="javascript:;" class="option-1 active">
				<div></div>
				<span></span>
			</a>
			<a href="javascript:;" class="option-2">
				<div></div>
				<span></span>
			</a>
		</div>
		<p>请如实填写收件地址，以便试用产品寄送到您手中！</p>
		<div class="details">
			<div>
				<label for="recipient">收货人</label>
				<input type="text" name="recipient" />
				<label for="mobile">电话</label>
				<input type="mobile" name="mobile" />
			</div>
			<div>
				<label for="">地址</label>
				<select name="province_id" id="">
					<option value="">北京市</option>
				</select>
				<label class="location">省</label>
				<select name="city_id" id="">
					<option value="">北京市</option>
				</select>
				<label class="location">市</label>
				<select name="area_id" id="">
					<option value="">东城区</option>	
				</select>
				<label class="location">区</label>
			</div>
			<div>
				<label for="address">详细地址</label>
				<textarea name="address"></textarea>
			</div>
		</div>
		<a href="javascript:;" class="button action-submit-apply">提交</a>
	</div>
</div>
</div>
