<div class="box-outside">
<div class="bd">
	<div class="form">
		<h3>挑选一款甜睡神器吧!</h3>
		<div class="selections">
			<div class="animal animal-1"></div>
			<div class="animal animal-2"></div>
			<div class="animal animal-3"></div>
			<div class="animal animal-4"></div>
			<div class="animal animal-5"></div>
			<div class="animal animal-6"></div>
		</div>
		<p>点亮甜睡神器，即可申领<span>大王甜睡系列纸尿裤</span><br>或领取由大王&费雪联合送出的<span>价值60元优惠券</span>，<br>更有机会抽取甜睡神器大礼！</p>
		<p>活动结束后，将产生拥有最高热度的神器。<br>我们将在这款神奇的支持者中再送出<span>10份甜睡神器大奖</span>哦！</p>
		<a class="button action-create" href="javascript:;">选择甜睡神器</a>
	</div>
</div>
</div>